.s-container-vertical,.s-container-horizontal{
    overflow: hidden;
}

.s-wrapper{
    height:100%;
    width:100%;
    overflow:visible;
}

.s-wrapper::after{
    zoom:1;
    clear:both;
    display:block;
    content:"";
}

.s-container-horizontal .s-wrapper{
}

.s-container-vertical .s-wrapper{
}